.share-buttons a:hover {
  text-decoration: none;
}

.share-buttons .shareit-facebook-colors {
  background: #3B5998;
  color: #fff;
}

.share-buttons .shareit-twitter-colors {
  background: #4099FF;  
  color: #fff;
}

.share-buttons .shareit-googleplus-colors {
  background: #D34836;  
  color: #fff;
}

.share-buttons .shareit-pinterest-colors {
  background: #D34836;  
  color: #fff;
}
